{% extends "base.html" %}
{% block content %}
{{ super() }}
<H1>О, НУ ДА, ЭТО Я,ХОТИТЕ СПРОСИТЬ,КАК Я ДОКАТИЛСЯ ДО ЖИЗНИ ТАКОЙ</H1><!DOCTYPE html>
<h1>Мой средний балл - 4 </h1>
<html>
 <head>
  <meta charset="utf-8">
  <title>Тег table</title>
 </head>
 <body>
  <table border="1">
   <tr>
    <tr><th>Предметы</th><th>Оценка</th></tr>
<tr><td>Информатика</td><td> Если бы</td></tr>
<tr><td>Математика</td><td> 4</td></tr>
<tr><td>Физкультура</td><td> 5</td></tr>
<tr><td>"Экономика"</td><td> 5</td></tr>
  </tr>
 </table>
 </body>
</html>

{% endblock %}